{%  extends "templates/web.html" %}

{% block title %}{{ _("Flight list") }}{% endblock %}

{% block page_content %}
<h3>{{ _("Flight list") }}</h3>

<div>
    <ul class="row list-unstyled mt-12">
        {% for item in flights %}
            <li class="col-sm-12 border mb-4 rounded p-4">
                <div>
                    <h5>{{item.airplane}}</h5>
                    <span>{{item.source_airport_code}} -> {{item.destination_airport_code}}</span>
                    <div>
                        <span>{{item.date_of_departure.strftime('%d %b, %Y')}} | {{item.time_of_departure}} | {{frappe.format(item.duration, "Duration")}}</span>
                    </div>
                    <a href="{{'/flights/'+item.airplane}}" class="mt-4 d-inline-block btn btn-secondary">View Flight</a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}